body {
    background: #fabfbb;
    font-size: 0.8cm;
    text-transform: capitalize;
    text-align: justify;
    font-family: "Nunito Sans";
}
#title {
    color: #d6463c;
}

.subtitle {
    color: rgb(237, 91, 81);
}

#service-image {
    height: 400px;
    width: 70%;

    background: linear-gradient(to right, red, blue);
    border: 10px solid rgb(102, 15, 36);
    
}

.container {
    background-color: #fabfbb;
    margin: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container-item {
    background: #b54c47;
    color: white;
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 50px;
    margin: 10px;
}
.link {
    text-decoration: underline;
}

#about-us-image {
    height: 1000px;
    width: 60vw;
}