body {
    background: #fabfbb;
    font-size: 0.8cm;
    text-transform: capitalize;
    text-align: justify;
    font-family: "Nunito Sans";
}
#title {
    color: #d6463c;
}

.subtitle {
    color: rgb(237, 91, 81);
}

#service-image {
    height: 400px;
    width: 70%;

    background: linear-gradient(to right, red, blue);
    border: 10px solid rgb(102, 15, 36);
    
}

.container {
    background-color: #fabfbb;
    margin: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container-item {
    background: #b54c47;
    color: white;
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 50px;
    margin: 10px;
}

.grid-container {
    background-color: rgb(250, 250, 250);
    margin: 10px;
    height: 300px;
    display: grid;
      
}

.grid-item {
    color: black;
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 40px;
    margin: 10px;
}
.link {
    text-decoration: underline;
}

#about-us-image {
    height: 1000px;
    width: 60vw;
}

.submit-button {
    margin: 20px 10px;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    transform: matrix(1,0.45,0.45,1,100,50);
    background: rgb(89, 150,255);
    transform: translate(50px, 30px ); 
    transition: all 300ms ease-in-out;  
}
.submit-button:hover {
    background: rgb(147,187,255);
    padding: 20px 30px;
    
}

#about-me {
    /* animation-name: red-to-black;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: ;
 */
    animation: red-to-black, 4s, linear, 2, alternate-reverse;
}

@keyframes red-to-black {
   0% {background: red; transform: translate(0px, 0px);}
   50% {background: yellow; transform: translate(10px, 10px);}
   100% {background: black; transform: translate(20px, 20px);}
}


